


ipython==8.12.3

keras==2.13.1


matplotlib==3.7.5

matplotlib-inline==0.1.6


opencv-python==4.9.0.80




streamlit==1.32.2

tensorflow-datasets==4.9.2
tensorflow-estimator==2.13.0
tensorflow-macos==2.13.0
tensorflow-metadata==1.14.0
tensorflow-metal==1.0.1

twilio==9.0.2

watchdog==4.0.0

Werkzeug==3.0.1
numpy==1.22.3

pandas==2.0.3




